<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender App</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}"/>

</head>

<body class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Fairness Regularization Recommender</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Main</a>
        <a class="p-2 text-dark" href="/performance">Performance</a>
        <a class="p-2 text-dark" href="/tech-stack">Tech-stack</a>
      </nav>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    {% block js %}
    {% endblock %}

</body>
</html>